html, body {
  margin: 0;
  width: 100%;
  color: #492817;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.mainContainer {
  margin: 2% 4%;
  display: block;
  width: 100%;
}

.main-content {
  flex-flow: column nowrap;
}

.cart-button {
  width: 100%;
  height: 50px;
  border-radius: 25%;
  margin-top: 15px;
  text-transform: uppercase;
  background-color: #741a02;
  border: 2px dashed #fdb7ae;
  text-shadow: 1px 0px #f46e6b;
  color: #fdb7ae;
}

.deleteAllButton {
  background-color: #741a02;
  border: 2px dashed #fdb7ae;
  text-shadow: 1px 0px #f46e6b;
  color: #fdb7ae;
  width: 100px;
}

.removeOne {
  height: 35px;
  width: 35px;
}

.main-button {
  background-color: #741a02;
  border: 3px solid #915b39;
  text-shadow: 1px 0px #f46e6b;
  color: #fdb7ae;
}

.main-button:hover {
  background-color: #fdb7ae;
  color: #492817;
}

.submitBtn {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.page-header {
  font-size: 1em;
  width: 100%;
  margin-bottom: 6%;
  margin-top: 8%;
  display: inline-flex;
}

.page-header h2 {
  float: none;
  width: 50%;
}

.page-header h3 {
  float: right;
  width: 50%;
}

.title-header {
  text-align: center;
  font-family: "calligraffitti", cursive;
  background-color: #741a02;
  color: #fdb7ae;
}

.title-header h1 {
  font-size: 2.5em;
  padding-top: 8px;
}

.title-header img {
  width: 40px;
  height: 50px;
  float: left;
  margin-left: 14%;
  margin-right: -15%;
}

h4 {
  margin-top: 6px;
  margin-bottom: 5px;
}

h5 {
  margin-top: 5px;
  margin-bottom: 6px;
  font-size: 1em;
}

.nav {
  font-size: 1.25em;
  background-color: #f46e6b;
  margin-top: 6%;
  border-radius: 25%;
  border: 3px double #915b39;
}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
}

.nav a {
  text-decoration: none;
  color: black;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  box-shadow: 0px 10px 10px #f46e6b;
  text-align: center;
  background-color: #915b39;
  padding: 3px;
  margin: auto;
  margin-bottom: 50px;
  margin-right: 50px;
  color: #fff9f9;
  border-radius: 25%;
  border: 5px outset #741a02;
}

.products img {
  margin-bottom: 15px;
  height: 120px;
  width: 140px;
  border-radius: 25%;
  border: 5px solid #741a02;
}

.products a {
  text-decoration: none;
  color: #f46e6b;
}

.main-content {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

h3, p, h5 {
  width: 100%;
  text-align: center;
}

.main-content {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  max-height: 600px;
}

#shopping-cart {
  float: right;
}

main {
  flex: 40%;
  vertical-align: top;
}

#productDetails {
  flex: 35%;
}

#cart-display {
  display: flex;
  flex-flow: column wrap;
}

/*#cart-container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}*/
#cart-header {
  width: 97%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 4px solid #f46e6b;
  background-color: #492817;
  color: #fdb7ae;
}

.items {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.item-title {
  width: 32%;
  margin-left: 10px;
}

.price {
  width: 10.5%;
  align-items: center;
  text-align: center;
}

.quantity {
  width: 32.75%;
  align-items: center;
  text-align: center;
}

.total {
  width: 20.25%;
  align-items: center;
  text-align: center;
}

.product-items {
  width: 33.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  background-color: #fdb7ae;
  color: #492817;
  border-bottom: 2px solid #915b39;
}

.product-items img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 22%;
  text-align: center;
}

.basketTotal {
  width: 10%;
}

#customer-info {
  width: 600px;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  background-color: #fdb7ae;
  border: 2.5px solid #915b39;
  padding: 5px;
}

.fas {
  color: #f46e6b;
  margin: 15px;
  font-size: 1.5em;
}

input[type=number] {
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
