.cart-button{
    width: 60%;
    height: 50px;
    border-radius: 25%;
    margin-top: 5px;
    text-transform: uppercase;
    background-color: $headerBkgd;
    border: 2px dashed $lgtpink;
    text-shadow: 1px 0px $drkPink;
    color: $lgtpink;
}