.page-header{
    font-size: 1em;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 8%;
    display: inline-flex;
}
.page-header h2{
    float: none;
    width: 50%;
}

.page-header h3{
    float: right;
    width: 50%;
}

.title-header{
    text-align: center;
    font-family: "calligraffitti", cursive;
    background-color: $headerBkgd;
    color: $lgtpink;
}

.title-header h1{
    font-size: 2.5em;
    padding-top: 8px
}

.title-header img{
    width: 40px;
    height: 50px;
    float: left;
    margin-left: 14%;
    margin-right: -15%;
}

h4{
    margin-top: 6px;
    margin-bottom: 5px;
}

h5{
    margin-top: 5px;
    margin-bottom: 6px;
    font-size: 1em
}
