.nav{
    font-size: 1.25em;
    background-color: $drkPink;
    margin-top: 6%;
    border-radius: 25%;
    border: 3px double $brown;
}

.nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
}

.nav a{
    text-decoration: none;
    color: darken($drkBrown, 30);
}