.products{
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: -10px 10px 30px #FCE4EC;
    text-align: center;
    background-image: url(images/cotton-bkgd.jpg);
    background-color: #66BB6A;
    background-blend-mode: overlay;
    margin: auto;
    flex: 2 2 150px;
    margin-bottom: 50px;
    margin-right: 50px;
    color: #000;
    border-radius: 25%;
    border: 3px double #66BB6A;
}

.products img{
    margin-bottom: 15px;
    height: 120px;
    width: 150px;
    border-radius: 25%;
}