.products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0px 10px 10px $drkPink;
    text-align: center;
    background-color: $brown;
    padding: 3px;
    margin: auto;
    margin-bottom: 50px;
    margin-right: 50px;
    color: lighten($lgtpink, 15);
    border-radius: 25%;
    border: 5px outset $headerBkgd;
}

.products img{
    margin-bottom: 15px;
    height: 120px;
    width: 140px;
    border-radius: 25%;
    border: 5px solid $headerBkgd;
}

.products a{
    text-decoration: none;
    color: $drkPink;
}

@media screen and (max-width: 600px) {
    .products img{
        width: 105px;
        height: 90px;
    }
    .products{
        margin-right: 10px;
    }
}