html, body{
    margin: 0;
    width: 100%;
    color: $drkBrown;
}

body{
    background-color: lighten($lgtpink, 20);    
    font-family: 'Roboto', sans-serif;
}

.mainContainer{
    margin: 2% 4%;
    display: block;
    width: 93%;
}

.main-content{
    flex-flow: column nowrap
}