html, body{
    margin: 0;
    width: 100%;
    color: $drkBrown;
}

body{
    background-color: lighten($lgtpink, 20);    
    font-family: 'Roboto', sans-serif;
}

.mainContainer{
    margin: 2% 4%;
    display: block;
}


.main-content{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@media (max-width: 600px){
    .mainContainer, .main-content form {
        max-width: 550px;
    }
}