#cart-display.main-content{
    display: flex;
    flex-flow: column wrap;
    max-width: 100%;
}

/*#cart-container{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}*/

#cart-header{
    width: 97%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 4px solid $drkPink;
    background-color: $drkBrown;
    color: $lgtpink;
}

.items{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.item-title{
    width: 32%;
    margin-left: 10px;
}
.price{
    width: 10.5%;
    align-items: center;
    text-align: center
}
.quantity{
    width: 32.75%;
    align-items: center;
    text-align: center
}

.total{
    width: 20.25%;
    align-items: center;
    text-align: center
}

.product-items{
    width: 33.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: $lgtpink;
    color: $drkBrown;
    border-bottom: 2px solid $brown;
}

.product-items img {
    width: 75px;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    padding: 10px 0;
}

.basketTotalTitle{
    width: 22%;
    text-align: center;
}

.basketTotal{
    width: 10%;
}

#customer-info{
    width: 600px;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    background-color: $lgtpink;
    border: 2.5px solid $brown;
    padding: 5px;
}

.fas{
    color: $drkPink;
    margin: 15px;
    font-size: 1.5em;
}

input[type=number]{
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}